# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea
.idea/*

cmd/server/run.sh
cmd/server/grpc_server
cmd/client/run.sh
cmd/client/grcp_client
cmd/client-rest/run.sh
cmd/client-rest/grpc_client_rest
